In [71]:
import pandas as pd
import yfinance as yf

In [72]:
Ticker = 'WLFC'
CURRENT_MONTH = '2024-10'

In [73]:
# Fetch the ticker data
TICKER = yf.Ticker(Ticker)
# Get the EPS estimate
eps_trend = TICKER.eps_trend

# Calculate percent change from 7, 30, 60, 90 days ago to current
eps_trend['7d_change%'] = (eps_trend['current'] - eps_trend['7daysAgo']) / eps_trend['7daysAgo'] * 100
eps_trend['30d_change%'] = (eps_trend['current'] - eps_trend['30daysAgo']) / eps_trend['30daysAgo'] * 100
eps_trend['60d_change%'] = (eps_trend['current'] - eps_trend['60daysAgo']) / eps_trend['60daysAgo'] * 100
eps_trend['90d_change%'] = (eps_trend['current'] - eps_trend['90daysAgo']) / eps_trend['90daysAgo'] * 100

eps_trend

,current,7daysAgo,30daysAgo,60daysAgo,90daysAgo,7d_change%,30d_change%,60d_change%,90d_change%
0q,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
+1q,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
0y,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
+1y,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [74]:
TICKER.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2025-07-30 08:00:00-04:00           NaN           NaN          NaN
2025-05-01 08:00:00-04:00           NaN           NaN          NaN
2025-03-11 08:00:00-04:00           NaN           NaN          NaN
2024-11-04 08:00:00-05:00           NaN           NaN          NaN
2024-08-01 06:00:00-04:00           NaN           NaN          NaN
2018-03-13 07:00:00-04:00           NaN           NaN          NaN
2017-11-07 08:00:00-05:00           NaN           NaN          NaN
2017-08-08 08:00:00-04:00           NaN           NaN          NaN
2017-05-08 09:00:00-04:00           NaN           NaN          NaN
2017-03-10 16:00:00-05:00           NaN           NaN          NaN
2016-11-04 16:00:00-04:00           NaN           NaN          NaN
2016-08-15 19:00:00-04:00           NaN           NaN          NaN

In [75]:
PATH = '/Users/nick0o0o0/Library/Mobile Documents/com~apple~CloudDocs/gxyfile/Trading/Stocks_selection/report'
FILE = f'{PATH}/{CURRENT_MONTH}/{Ticker}_smallfundamental.csv'

In [76]:
df = pd.read_csv(FILE)

In [77]:
df.head(30)

,fiscalDateEnding,quarter,reportedEPS,EPS_YOY_pct_change,estimatedEPS,surprise,totalRevenue,revenue_YOY_pct_change,netIncome,netIncome_YOY_pct_change,netProfitMargin,netProfitMargin_YOY_pct_change
0,2024-06-30,2024Q2,6.2055,+208.0,NaN,NaN,151120000.0,+39.0,42586000.0,+208.0,0.281803,+122.0
1,2024-03-31,2024Q1,2.9970,+445.0,NaN,NaN,119083000.0,+33.0,20869000.0,+375.0,0.175248,+257.0
2,2023-12-31,2023Q4,1.5304,-28.0,NaN,NaN,114280000.0,+30.0,10953000.0,-24.0,0.095844,-41.0
3,2023-09-30,2023Q3,2.1308,+139.0,NaN,NaN,105745000.0,+38.0,14618000.0,+129.0,0.138238,+66.0
4,2023-06-30,2023Q2,2.0155,+149.0,NaN,NaN,108996000.0,+40.0,13816000.0,+134.0,0.126757,+68.0
5,2023-03-31,2023Q1,0.5500,-115.0,NaN,NaN,89535000.0,+30.0,4394000.0,-121.0,0.049076,-116.0
6,2022-12-31,2022Q4,2.1200,+1531.0,NaN,NaN,88144000.0,+16.0,14343000.0,+723.0,0.162722,+608.0
7,2022-09-30,2022Q3,0.8900,+178.0,NaN,NaN,76891000.0,+9.0,6389000.0,+122.0,0.083092,+104.0
8,2022-06-30,2022Q2,0.8100,-775.0,NaN,NaN,78075000.0,+17.0,5908000.0,+10086.0,0.075671,+8572.0
9,2022-03-31,2022Q1,-3.7000,+928.0,NaN,NaN,68817000.0,+13.0,-21201000.0,+1492.0,-0.308078,+1314.0
10,2021-12-31,2021Q4,0.1300,-121.0,NaN,NaN,75814000.0,+23.0,1742000.0,-160.0,0.022977,-149.0
11,2021-09-30,2021Q3,0.3200,-9.0,NaN,NaN,70791000.0,+0.0,2884000.0,-3.0,0.040740,-4.0
12,2021-06-30,2021Q2,-0.1200,-116.0,NaN,NaN,66472000.0,-11.0,58000.0,-99.0,0.000873,-99.0
13,2021-03-31,2021Q1,-0.3600,-164.0,NaN,NaN,61125000.0,-25.0,-1332000.0,-131.0,-0.021791,-141.0
14,2020-12-31,2020Q4,-0.6200,-191.0,NaN,NaN,61487000.0,-31.0,-2894000.0,-158.0,-0.047067,-184.0
15,2020-09-30,2020Q3,0.3500,-91.0,NaN,NaN,70613000.0,-41.0,2984000.0,-88.0,0.042259,-79.0
16,2020-06-30,2020Q2,0.7400,-72.0,NaN,NaN,74983000.0,-22.0,5372000.0,-68.0,0.071643,-60.0
17,2020-03-31,2020Q1,0.5600,-83.0,NaN,NaN,81609000.0,-21.0,4286000.0,-79.0,0.052519,-74.0
18,2019-12-31,2019Q4,0.6800,-77.0,NaN,NaN,89228000.0,-25.0,4996000.0,-72.0,0.055991,-63.0
19,2019-09-30,2019Q3,3.8100,+159.0,NaN,NaN,120366000.0,+49.0,24073000.0,+149.0,0.199998,+67.0
20,2019-06-30,2019Q2,2.6600,+111.0,NaN,NaN,95797000.0,+22.0,16975000.0,+103.0,0.177198,+67.0
21,2019-03-31,2019Q1,3.3500,+235.0,NaN,NaN,103769000.0,+47.0,20878000.0,+195.0,0.201197,+100.0
22,2018-12-31,2018Q4,2.9100,-1139.0,NaN,NaN,118190000.0,+87.0,18114000.0,-58.0,0.153262,-77.0
23,2018-09-30,2018Q3,1.4700,+84.0,NaN,NaN,80958000.0,+23.0,9674000.0,+83.0,0.119494,+49.0
24,2018-06-30,2018Q2,1.2600,+37.0,NaN,NaN,78702000.0,+16.0,8359000.0,+40.0,0.106211,+20.0
25,2018-03-31,2018Q1,1.0000,-21.0,NaN,NaN,70497000.0,-10.0,7082000.0,-13.0,0.100458,-4.0
26,2017-12-31,2017Q4,-0.2800,-122.0,NaN,NaN,63189000.0,+14.0,42709000.0,+1478.0,0.675893,+1285.0
27,2017-09-30,2017Q3,0.8000,+29.0,NaN,NaN,65861000.0,+28.0,5292000.0,+33.0,0.080351,+4.0
28,2017-06-30,2017Q2,0.9200,+48.0,NaN,NaN,67844000.0,+37.0,5990000.0,+78.0,0.088291,+30.0
29,2017-03-31,2017Q1,1.2600,+157.0,NaN,NaN,77946000.0,+54.0,8167000.0,+104.0,0.104778,+32.0