In [1]:
import trading_function
import yfinance as yf
import pandas as pd

In [2]:
x = trading_function.Benchmark_Data()
x

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-17,3638.649902,3689.729980,3638.649902,3677.949951,3677.949951,4352780000
2022-10-18,3746.260010,3762.790039,3686.530029,3719.979980,3719.979980,4483740000
2022-10-19,3703.110107,3728.580078,3666.510010,3695.159912,3695.159912,4223800000
2022-10-20,3689.050049,3736.000000,3656.439941,3665.780029,3665.780029,4496620000
2022-10-21,3657.100098,3757.889893,3647.419922,3752.750000,3752.750000,5078020000
...,...,...,...,...,...,...
2024-10-10,5778.359863,5795.029785,5764.759766,5780.049805,5780.049805,3208790000
2024-10-11,5775.089844,5822.129883,5775.089844,5815.029785,5815.029785,3208720000
2024-10-14,5829.810059,5871.410156,5829.569824,5859.850098,5859.850098,3005250000
2024-10-15,5866.740234,5870.359863,5804.479980,5815.259766,5815.259766,3882120000
2024-10-16,5816.580078,5846.520020,5808.339844,5842.470215,5842.470215,2301294000

In [3]:
ticker = 'AAPL'  # Example: Apple

# Download the stock data
hist = yf.download(ticker, period='2y')

# Get the estimated EPS from analysis (quarterly estimate data)


ticker2 = 'HROW'

hist2 = trading_function.Benchmark_Data(ticker2)

benchmark = trading_function.Benchmark_Data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
trading_function.Stage2_Confirmed_Criteria(hist2, benchmark)

/Users/nick0o0o0/Library/Mobile Documents/com~apple~CloudDocs/gxyfile/Trading/Stocks_selection/trading_function.py:65: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  last_price = history['Close'][-1]
/Users/nick0o0o0/Library/Mobile Documents/com~apple~CloudDocs/gxyfile/Trading/Stocks_selection/trading_function.py:33: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return history[col][-1]
/Users/nick0o0o0/Library/Mobile Documents/com~apple~CloudDocs/gxyfile/Trading/Stocks_selection/trading_function.py:33: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return history[col][-1]
/Users/nick0o0o0/Library/Mobile Documents/com~apple~CloudDocs/gxyfile/Trading/Stocks_selection/trading_function.py:75: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  slope = (history['MA200'][-1] - history['MA200'][-MA200UP]) / MA200UP
/Users/nick0o0o0/Library/Mobile Documents/com~apple~CloudDocs/gxyfile/Trading/Stocks_selection/trading_function.py:33: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return history[col][-1]

True

### RS ratio
AAPL: 93.78

MSFT: 78.15

GOOG: 55.23

In [5]:
trading_function.RS_rating(hist2, benchmark)

np.float64(787.4427721231921)

In [6]:
trading_function.RS_rating(trading_function.Benchmark_Data('GOOG'), benchmark)

[*********************100%***********************]  1 of 1 completed

np.float64(54.618629878304034)

In [7]:
hist2

,Open,High,Low,Close,Adj Close,Volume,MA150,MA200,MA50
Date,,,,,,,,,
2022-10-17,12.250000,12.870000,10.800000,12.010000,12.010000,987100,NaN,NaN,NaN
2022-10-18,12.040000,12.410000,11.830000,12.020000,12.020000,283700,NaN,NaN,NaN
2022-10-19,11.910000,12.250000,11.470000,11.700000,11.700000,142000,NaN,NaN,NaN
2022-10-20,11.850000,12.050000,11.350000,11.820000,11.820000,133900,NaN,NaN,NaN
2022-10-21,11.630000,11.950000,11.150000,11.250000,11.250000,191600,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2024-10-10,50.610001,50.610001,48.529999,49.669998,49.669998,588300,24.439600,20.96430,40.6922
2024-10-11,49.669998,52.450001,49.669998,50.709999,50.709999,441500,24.704667,21.16410,41.2154
2024-10-14,50.900002,51.209999,49.740002,50.889999,50.889999,387500,24.973667,21.36380,41.7612
2024-10-15,50.950001,54.310001,50.560001,53.490002,53.490002,541800,25.260533,21.57555,42.3752
2024-10-16,53.830002,55.880001,53.040001,54.820000,54.820000,515668,25.555467,21.79365,43.0172

In [8]:
hist

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-17,141.070007,142.899994,140.270004,142.410004,140.849426,85250900
2022-10-18,145.490005,146.699997,140.610001,143.750000,142.174744,99136600
2022-10-19,141.690002,144.949997,141.500000,143.860001,142.283524,61758300
2022-10-20,143.020004,145.889999,142.649994,143.389999,141.818665,64522000
2022-10-21,142.869995,147.850006,142.649994,147.270004,145.656174,86548600
...,...,...,...,...,...,...
2024-10-10,227.779999,229.500000,227.169998,229.039993,229.039993,28183500
2024-10-11,229.300003,229.410004,227.339996,227.550003,227.550003,31759200
2024-10-14,228.699997,231.729996,228.600006,231.300003,231.300003,39882100
2024-10-15,233.610001,237.490005,232.369995,233.850006,233.850006,64707600
2024-10-16,231.619995,232.119995,229.850006,231.779999,231.779999,32657566

In [9]:
print(hist['Adj Close'])

Date
2022-10-17    140.849426
2022-10-18    142.174744
2022-10-19    142.283524
2022-10-20    141.818665
2022-10-21    145.656174
                 ...
2024-10-10    229.039993
2024-10-11    227.550003
2024-10-14    231.300003
2024-10-15    233.850006
2024-10-16    231.779999
Name: Adj Close, Length: 503, dtype: float64

In [10]:
hist['Close'][-250:].min()

np.float64(165.0)

In [11]:
trading_function.MA_Adding(hist)

In [12]:
history = hist

In [13]:
history['MA200'][-1] - history['MA200'][-30]

/var/folders/km/vjt389x91b93k1_jy0g3jscc0000gn/T/ipykernel_48000/4274750680.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  history['MA200'][-1] - history['MA200'][-30]

np.float64(4.732000045776346)

In [14]:
trading_function.Stage2_Confirmed_Criteria(hist)

TypeError: Stage2_Confirmed_Criteria() missing 1 required positional argument: 'Benchmark'

In [5]:
if None:
    print(3)

In [6]:
trading_function.MA(hist, 40)

/Users/nick0o0o0/Library/Mobile Documents/com~apple~CloudDocs/gxyfile/Trading/Stocks_selection/trading_function.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return history[col][-1]

np.float64(44.7997501373291)

In [7]:
hist['Close'][-1]

/var/folders/km/vjt389x91b93k1_jy0g3jscc0000gn/T/ipykernel_44633/2870509874.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  hist['Close'][-1]

np.float64(54.81999969482422)

In [8]:
trading_function.TransStage2_price_Criteria(hist)

AttributeError: module 'trading_function' has no attribute 'TransStage2_price_Criteria'

In [9]:
# Define the stock ticker and benchmark (S&P 500)
stock_ticker = 'AAPL'
benchmark_ticker = '^GSPC'

# Download historical price data
stock_data = yf.download(stock_ticker, period='1y')
benchmark_data = yf.download(benchmark_ticker, period='1y')

# Calculate 12-month price change
stock_price_change = (stock_data['Adj Close'].iloc[-1] / stock_data['Adj Close'].iloc[0]) - 1
benchmark_price_change = (benchmark_data['Adj Close'].iloc[-1] / benchmark_data['Adj Close'].iloc[0]) - 1

# Calculate Relative Strength (RS)
rs_score = (stock_price_change / benchmark_price_change) * 100

print(f"RS Score for {stock_ticker}: {rs_score:.2f}")

# Rank stocks (example with 3 stocks)
stock_tickers = ['AAPL', 'GOOG', 'MSFT']
rs_scores = {}

for ticker in stock_tickers:
    stock_data = yf.download(ticker, period='1y')
    stock_price_change = (stock_data['Adj Close'].iloc[-1] / stock_data['Adj Close'].iloc[0]) - 1
    rs_score = (stock_price_change / benchmark_price_change) * 100
    rs_scores[ticker] = rs_score

# Sort and print RS rankings
sorted_rs_scores = sorted(rs_scores.items(), key=lambda x: x[1], reverse=True)
print("\nRS Rankings:")
for ticker, score in sorted_rs_scores:
    print(f"{ticker}: {score:.2f}")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

RS Score for AAPL: 93.78

[*********************100%***********************]  1 of 1 completed

RS Rankings:
AAPL: 93.78
MSFT: 78.15
GOOG: 55.23

In [4]:
#trading_function.Kline_Plot(ticker, hist)
#trading_function.Kline_Plot(ticker2, hist2)

In [5]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-02 00:00:00-05:00,186.442503,187.727635,183.194833,184.938217,82488700,0.0,0.0
2024-01-03 00:00:00-05:00,183.523597,185.177325,182.736575,183.553482,58414500,0.0,0.0
2024-01-04 00:00:00-05:00,181.461404,182.397852,180.196216,181.222321,71983600,0.0,0.0

In [6]:
trading_function.MA(hist, 50).head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
import yfinance as yf
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Fetch historical stock data
ticker = 'AAPL'
data = yf.download(ticker, start='2023-01-01', end='2023-10-01')

# Create a subplot with two rows (one for candlestick, one for volume)
fig = make_subplots(rows=2, cols=1, shared_xaxes=True, 
                    vertical_spacing=0.03, subplot_titles=(f'Candlestick Chart for {ticker}', 'Volume'), 
                    row_width=[0.2, 0.7])

# Add candlestick chart in the first row
fig.add_trace(go.Candlestick(x=data.index,
                             open=data['Open'],
                             high=data['High'],
                             low=data['Low'],
                             close=data['Close'],
                             name='Price'), row=1, col=1)

# Add volume bars in the second row
fig.add_trace(go.Bar(x=data.index, y=data['Volume'], showlegend=False, name='Volume'), row=2, col=1)

# Update layout
fig.update_layout(title=f'{ticker} Candlestick Chart with Volume',
                  xaxis_title='Date',
                  yaxis_title='Price (USD)',
                  xaxis_rangeslider_visible=False)

# Show the plot
fig.show()

In [20]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,123.904633,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.182602,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,123.855095,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.412231,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,128.937302,70790800
...,...,...,...,...,...,...
2023-09-25,174.199997,176.970001,174.149994,176.080002,175.183578,46172700
2023-09-26,174.820007,175.199997,171.660004,171.960007,171.084549,64588900
2023-09-27,172.619995,173.039993,169.050003,170.429993,169.562317,66921800
2023-09-28,169.339996,172.029999,167.619995,170.690002,169.821014,56294400
2023-09-29,172.020004,173.070007,170.339996,171.210007,170.338364,51814200

\
adadajdaj